//include index.html
extends layout

block append headers
    -currHeader = 'About'
    title About WHO-ver Board
block append content
    h1=currHeader
    p Here at The-Who's Global, we pride ourselves on quality and affordability.
        |  Using the latest in hover-board technology we are able to create a light-weight and cost effective hover-board
        |  at the fraction of the cost. Consumer reports show that most people veer away from purchasing hover-boards due
        |  to their costs. And we agree, why look like a douchebag for around $300+, when you can look like a douchebag for
        |  less than $100. Our hover-boards are the cheapest on the market, beating our next competitor by over 100%.
        |  Founded in 2016 under the leadership of Anthony Areniego, we aim to revolution this mode of transportation and
        |  make it accessible to everyone!

    p We pride ourselves on consumer safety and innovation.

    .grey_box.center
        .title Images found at:
        ul
            li https://commons.wikimedia.org/wiki/File:Warning.svg
            li https://www.flickr.com/photos/136833700@N04/22011874862
                .indent Credit to: www.soarboards.com
            li https://www.flickr.com/photos/135310117@N08/21718091033
                .indent Credit to: http://urbanwheel.co/
            li Banner made by a friend of Duc Lee
                .indent All images modified were modified to fit the website.
    br
    .grey_box
        .title Interested in working for us?
        div Send your resume to:
        .indent 2041 NOT Legitimate Blvd. #17
        .indent Denver, CO 13279
