//include test.html
extends layout

block append headers
    -currHeader = 'Home'
    title WHO-ver Board
block append content
    h1=currHeader
    p WHO-ver Board, the next great hit in derbies everywhere!
    include models
    ul
        li The metal chrome finish is designed to endure the roughest terrain.
        li WHO-ver Board packs the latest Triumvirate Nitro Tessellation battery, for ultra-fast charging.
        li Wheels are coated with carbon-fiber, for maximum grip. Never slip or slide ever again!
