extends layout
block append headers
    -currHeader = 'Support'
    title Support
block append content
    h1=currHeader
    h3 Why Get a WHO-ver Board?
    ul
        li Ease of use: Unlike other hover-boards, WHO-ver Board is designed with you in mind.
            |  Users can pick up a hover board and learn to ride in less than 30 minutes.
        li Portability: Our technicians developed a light-weight chassis that allows for quick and easy transportation.
            |  Bring your WHO-ver board wherever you want to go!
        li Convenience: Provides tremendous convenience in terms of transportation.
    h3 Frequently Asked Questions:
    ul
        li My WHO-ver board exploded!
            .indent We're sorry for your loss. Contact us, and we will give you a big discount on your next purchase.
        li Why can't I buy this awesome WHO-ver Board?
            .indent We are a new company, so at the present: We can only ship to United States of America, Canada, and Mexico.
        li How much is it?
            .indent Prices range from $99 to $199.99
        li Wow! That's so cheap! Are you sure there are no drawbacks?
            .indent None. Absolutely none at all. To ease your worries, while riding a WHO-ver Board, you might become eligible to get a peg leg!
        li The Who's? Who's that?
            .indent We are a brand new company working tirelessly to develop the highest quality products.
    .grey_box
        .title Have any questions or comments?
        div Contact us at: whos@there.com
